<!DOCTYPE html>
<html>
  <head>
    <title>Unit 2 Assessment</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Todo List</h1>
    <% if (!todos.length) { %>
      <h3> There are no To Do's yet </h3>
      <% } else if (todos.length >= 1){ %>
    <ul class="inlineStyle">
      <% todos.forEach((i, idx) => { %>
      <li >
        <p> <%= i.todo %>
          <span class="status">
            - <%= i.done ? 'done' : 'not done' %>
          </span>
        </p>
        <form action="/<%= idx %>?_method=DELETE" class="delete-form" method="POST">
          <button type="submit"> Delete </button>
        </form>
      </li>
      <% }); %>
    </ul>
    
    
    <% } %>
    <hr>
    <form action="/" method="POST" autocomplete="on">
      <input type="text" maxlength="20" name="todo" required>
      <button type="submit"> Add To Do </button>
    </form>
  </body>
  </html>
  </body>
</html>
